<!DOCTYPE html>
<html lang="en">
<head>
<style>
div {text-align:center;}
</style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Welcome to the twitter analysis tool!</h1>
        <h2>This tool analyzes a set of tweets taken from the most recent tweets of the inputted user <br> and provides a wordcloud + statistics</h2>
        <form method="POST">
        Enter a Twitter handle (exclude @):<br>
        <input type="text" name="twitter_handle"><br>
        <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>